@import "./common/_common.scss";
@import "./common/_header.scss";
@import "./common/_footer.scss";
@import "./common/_plugins.scss";

/* ヒーローイメージ */
.hero-img {
    position: relative;
}
.hero-img__pc {
    display: block;
    @media screen and (max-width:959px) {
        display: none;
    }
}
.hero-img__sp {
    display: none;
    @media screen and (min-width:601px) and (max-width:959px) {
        display: block;
        height: 80vh;
        object-fit: cover;
        object-position: 0% 0%;
    }
    @media screen and (max-width:600px) {
        display: block;
        object-fit: cover;
        object-position: 0% 0%;
    }
}
.hero-img__box {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 95%;
    margin: auto;
    transform: translate(0,-50%);
    @media screen and (max-width:959px) {
        top: 95%;
        transform: translate(0,-95%);
    }
    h1 {
        color: #fff;
        font-size: 42px;
        font-weight: bold;
        @media screen and (max-width:959px) {
            font-size: 21px;
        }
    }
    p {
        color: #fff;
        @media screen and (max-width:959px) {
            font-size: 14px;
        }
    }
}
.btn {
    @include btn;
    margin-top: 15px;
    @media screen and (min-width:601px) and (max-width:959px) {
        opacity: .6;
    }
    @media screen and (max-width:600px) {
        margin-top: 10px;
        opacity: .6;
        width: auto;
    }
}

/* YouTube_video */
.video {
    position: relative;
    background-image: url(../img/lp-movie_bg_1807-min.jpg);
    background-position: 50% 50%;
    height: 450px;
    @media screen and (max-width:959px) {
        height: 550px;
    }
}
.video__pc {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    @media screen and (max-width:959px) {
        display: none;
    }
}
.video__sp {
    display: none;
    @media screen and (max-width:959px) {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 85%;
    }
}
.video__btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    > i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 50px;
        color: #fff;
        &:hover {
            opacity: .6;
        }
    }
}
/* メンズ・レディース　コレクション */
.grid {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width:600px) {
        flex-direction: column;
    }
}
.grid__box {
    position: relative;
    width: 50%;
    overflow: hidden;
    img {
        transition: transform 2s;
    }
    &:hover img{
        transition: transform 5s;
        transform: scale(1.3);
    }
    &:hover .mask::after {
        opacity: 1;
    }
    @media screen and (max-width:600px) {
        width: 100%;
        &:hover img {
            transition: none;
            transform: scale(1.0);
        }
    }
    @media screen and (min-width:601px) and (max-width:959px) {
        width: 50%;
        &:hover img {
            transition: none;
            transform: scale(1.0);
        }
    }
}
.grid__box__pc {
    @media screen and (max-width:959px) {
        display: none;
    }
}
.grid__box__sp {
    display: none;
    @media screen and (max-width:959px) {
        display: block;
    }
}
.grid__box__btn {
    @include btn;
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    margin: auto;
    @media screen and (max-width:959px) {
        opacity: .6;
    }
}

/* スライダー */
.slider {
    width: 100%;
}
.slider__box {
    position: relative;
    background-image: url(../img/10.jpg);
    height: 100vh;
    @media screen and (min-width:601px) and (max-width:959px) {
        height: 80vh;
    }
}
.thumb__box {
    position: absolute;
    top: 5%;
    right: 0;
    left: 0;
    margin: auto;
}
.thumb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    @media screen and (max-width:600px) {
        width: 95%;
    }
}
.thumb__title {
    color: #fff;
    text-align: center;
    font-weight: bold;
    p {
        @media screen and (max-width:959px) {
            font-size: 12px;
        }
    }
    h2 {
        font-size: 24px;
        letter-spacing: 5px;
        @media screen and (max-width:959px) {
            font-size: 16px;
            letter-spacing: normal;
        }
    }
}
.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.slider__item {
    color: #fff;
    font-weight: bold;
    text-align: center;
    img {
        width: 50%;
        margin: 60px auto;
        @media screen and (min-width:601px) and (max-width:959px) {
            margin: 100px auto;
        }
        @media screen and (max-width:600px) {
            width: 95%;
            margin: 100px auto;
        }
    }
    h2 {
        font-size: 24px;
        margin-bottom: 20px;
        letter-spacing: 5px;
        @media screen and (max-width:959px) {
            font-size: 16px;
            margin-bottom: 10px;
            letter-spacing: normal;
        }
    }
}
.slider__btn {
    @include btn;
    margin: 0 auto;
    @media screen and (min-width:601px) and (max-width:959px) {
        opacity: .6;
    }
    @media screen and (max-width:600px) {
        opacity: .6;
        width: 90%;
    }
}
/* ヒーローイメージ2 */
.hero-img2 {
    position: relative;
}
.hero-img2__multi {
    @media screen and (max-width:959px) {
        height: 100vh;
        min-height: 100vh;
        object-fit: cover;
        object-position: 70% 0%;
    }
}
.hero-img__box2 {
    position: absolute;
    top: 36%;
    left: 5%;
    @media screen and (max-width:959px) {
        top: 95%;
        transform: translate(0,-95%);
    }
    h2 {
        color: #fff;
        font-size: 42px;
        font-weight: bold;
        @media screen and (max-width:959px) {
            font-size: 21px;
        }
    }
    p {
        color: #fff;
        @media screen and (max-width:959px) {
            font-size: 14px;
        }
    }
}
.btn2 {
    @include btn;
    margin-top: 30px;
    margin-bottom: 10px;
    @media screen and (max-width:959px) {
        opacity: .6;
        width: auto;
    }
}
/* グリッド状タイル */
.grid2 {
    display: flex;
    flex-wrap: wrap;
}
.grid__item {
    position: relative;
    overflow: hidden;
    img {
        transition: transform 2s;
    }
    &:hover img{
        transition: transform 5s;
        transform: scale(1.3);
    }
    &:hover .mask::after {
        opacity: 1;
    }
}
.grid__left {
    width: 25%;
    @media screen and (max-width:959px) {
        width: 50%;
    }
}
.grid__center {
    width: 25%;
    @media screen and (max-width:959px) {
        width: 50%;
    }
}
.grid__right {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    overflow: hidden;
    @media screen and (max-width:959px) {
        width: 100%;
    }
    .grid__item {
        width: 50%;
    }
}
.grid__right__1row {
    position: relative;
    width: 100%;
}
.grid__right__cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    h2 {
        font-size: 28px;
        font-weight: bold;
        @media screen and (max-width:959px) {
            font-size: 20px;
        }
    }
    p {
        margin: 8px 0;
    }
}
.size {
    width: 50%;
    height: 50%;
}
.grid__btn {
    @include btn;
    color: #fff;
    background-color: #000;
    margin: 0 auto;
    &:hover {
        color: #000;
        background-color: #fff;
    }
}
/* アディダス リンク */
.link {
    width: 75%;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
    > h2 {
        font-size: 28px;
        font-weight: bold;
        @media screen and (max-width:959px) {
            font-size: 23px;
        }
    }
    h3 {
        font-size: 18px;
        font-weight: bold;
        @media screen and (max-width:959px) {
            font-size: 13px;
        }
    }
    hr {
        border-top: 1px solid #EBEBEB;
    }
    @media screen and (max-width:959px) {
        width: 100%;
        padding-top: 40px;
        padding-bottom: 0;
    }
}
.link__shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
    @media screen and (max-width:959px) {
        margin-bottom: 30px;
    }
    > li {
        width: 20%;
        border-right: 1px solid transparent;
        border-left: 1px solid #EBEBEB;
        text-align: center;
        &:first-of-type {
            border: none;
        }
        > a {
            font-size: 15px;
            color: #58AFDE;
            @media screen and (max-width:959px) {
                font-size: 12px;
            }
        }
        @media screen and (max-width:959px) {
            width: 45%;
            margin-bottom: 5px;
            &:nth-of-type(odd) {
                border: none;
            }
        }
    }
}
.link__sns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 100px;
    li {
        a {
            font-size: 20px;
            font-weight: bold;
            @media screen and (max-width:959px) {
                font-size: 12px;
            }
            i {
                vertical-align: middle;
            }
        }
    }
    @media screen and (max-width:959px) {
        margin-top: 25px;
        margin-bottom: 50px;
    }
}