/* magnific-popup */
.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 95%;
}
/* slick */
.slick-prev, .slick-next {
    color: #fff;
    font-size: 40px;
    &:hover {
        cursor: pointer;
    }
    @media screen and (min-width:600px) and (max-width:960px) {
        font-size: 30px;
    }
    @media screen and (max-width:600px) {
        font-size: 20px;
    }
}